@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --color-soft-orange: hsl(35, 77%, 62%);
  --color-soft-red: hsl(5, 85%, 63%);

  --color-off-white: hsl(36, 100%, 99%);
  --color-grayish-blue: hsl(233, 8%, 79%);
  --color-dark-grayish-blue: hsl(236, 13%, 42%);
  --color-very-dark-blue: hsl(240, 100%, 5%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  height: 100vh;
  margin: 5rem 10rem;
  font-size: 1.4rem;
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  color: var(--color-dark-grayish-blue);
}

/* Headings */

.heading-primary {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
  color: var(--color-very-dark-blue);
}

.heading-secondary {
  color: var(--color-soft-orange);
  font-size: 2.6rem;
}

/* Nav bar */

.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 4rem;
}

.nav__link:link,
.nav__link:visited {
  transition: color 200ms;
}

.nav__link:hover,
.nav__link:active {
  color: var(--color-soft-red);
}

/* Hero section */

.section-hero {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 5rem;
}

.hero__img-container {
  grid-column: 1 / span 2;
}

.hero__img {
  max-width: 100%;
  display: block;
}

.hero__heading {
  grid-row: 2;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  gap: 1rem;
  align-items: flex-start;
}

.hero__content p {
  margin-bottom: 2rem;
}

.btn--read-more {
  border: none;
  background-color: var(--color-soft-red);
  color: var(--color-off-white);
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  cursor: pointer;
  transition: all 200ms ease;
}

.btn--read-more:hover,
.btn--read-more:active {
  background-color: var(--color-very-dark-blue);
}

/* Aside */

.hero__aside {
  grid-column: 3;
  grid-row: 1 / span 2;
  background-color: var(--color-very-dark-blue);
  color: var(--color-off-white);
  padding: 2rem;
}

.hero__aside-list {
  margin-top: 2.6rem;
}

.hero__aside-list--item h3 {
  cursor: pointer;
  transition: color 200ms ease;
}

.hero__aside-list--item h3:hover {
  color: var(--color-soft-orange);
}

.hero__aside-list--item:not(:last-child) {
  border-bottom: 1px solid var(--color-dark-grayish-blue);
  margin-bottom: 2rem;
}

.hero__aside-list--item p {
  color: var(--color-grayish-blue);
  margin-block: 1.5rem;
}

/* Section Trending */

.trending__list {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 4rem;
}

.trending__list--item {
  display: grid;
  grid-template-columns: 10rem 2fr;
  column-gap: 1.5rem;
}

.trending__list--image img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.trending__list--image {
  grid-column: 1;
  grid-row: 1 / span 3;
}

.trending__list--item span {
  font-size: 2.6rem;
  font-weight: 700;
  color: var(--color-grayish-blue);
}

.trending__list--link:link,
.trending__list--link:visited {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-dark-grayish-blue);
  transition: color 200ms ease;
}

.trending__list--link:hover,
.trending__list--link:active {
  color: var(--color-soft-red);
}

/* Footer */

.footer {
  text-align: center;
  padding-bottom: 1rem;
}

.attribution a:link,
.attribution a:visited {
  display: inline-block;
  transition: color 200ms ease;
}

.attribution a:hover,
.attribution a:active {
  color: var(--color-soft-red);
}
